@page "/translations"
@attribute [Authorize(Policy = "root-user")]

<MudGrid>
    <MudItem xs="2" sm="2" md="2">
        <MudSelect AnchorOrigin="Origin.BottomCenter" T="string" Label="Source language"
            @bind-Value="sourceLanguageText">
            @foreach (var sourceLanguage in Languages.Select(x => x.LongName))
            {
                <MudSelectItem Value="@sourceLanguage">@sourceLanguage</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="1" sm="1" md="1">
        <MudIcon Class="centered-icon" Icon="@Icons.Filled.SwapHoriz" @onclick="SwitchLanguages" Size="Size.Large">
        </MudIcon>
    </MudItem>
    <MudItem xs="2" sm="2" md="2">
        <MudSelect T="string" Label="Target language" AnchorOrigin="Origin.BottomCenter"
            @bind-Value="targetLanguageText">
            @foreach (var targetLanguage in Languages.Select(x => x.LongName))
            {
                <MudSelectItem Value="@targetLanguage">@targetLanguage</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="2" sm="2" md="2">
        <MudSelect AnchorOrigin="Origin.BottomCenter" T="string" @bind-Value="@systemTypeText" Label="System type">
            @foreach (var systemType in SystemTypes.Select(x => x.Description))
            {
                <MudSelectItem Value="@systemType">@systemType</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="2" sm="2" md="2">
        <MudSelect AnchorOrigin="Origin.BottomCenter" T="string" Label="Xliff state filter"
            @bind-Value="xliffStateFilter">
            <MudSelectItem Value="@("0")">Needs Translation</MudSelectItem>
            <MudSelectItem Value="@("1")">Away on translation</MudSelectItem>
            <MudSelectItem Value="@("2")">Translated</MudSelectItem>
        </MudSelect>
    </MudItem>
    <MudItem xs="2" sm="2" md="2">
        <MudButton @onclick="Search" Color="Color.Primary" Variant="Variant.Filled"
            EndIcon="@Icons.Material.Filled.Search" Disabled="!HasValidSearchParameters()">Search</MudButton>
    </MudItem>
    <MudItem xs="12" sm="12" md="12">
        <MudTabs Rounded="true" ApplyEffectsToContainer="true" Style="flex-direction: column-reverse">
            @if (HasValidSearchParameters())
            {
                <MudTable ServerData="@(new Func<TableState, Task<TableData<TranslatedTextDto>>>(TableReload))"
                @ref="_table" RowsPerPage="@_rowsPerPage" Dense="true" Hover="true" FixedHeader="true"
                FixedFooter="true" Height="65vh">
                    <ToolBarContent>
                        <MudTextField T="string" OnDebounceIntervalElapsed="s => OnSearch(s)"
                        DebounceInterval="500" Placeholder="Search" Adornment="Adornment.Start"
                        AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"
                        Clearable="true"></MudTextField>
                        <MudSpacer />

                        <MudIcon Icon="@Icons.Filled.AddCircle" @onclick="()=>OpenAddDialog()"></MudIcon>
                    </ToolBarContent>
                    <ColGroup>
                        <col style="width: 5%;" />
                        <col style="width: 30%;" />
                        <col style="width: 35%;" />
                        <col style="width: 10%;" />
                        <col style="width: 10%;" />
                    </ColGroup>
                    <HeaderContent>
                        <MudTh>Show id</MudTh>
                        <MudTh>Source text</MudTh>
                        <MudTh>Target text</MudTh>
                        <MudTh>State</MudTh>
                        <MudTh>Delete</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>
                            <MudExpansionPanel>
                                <TitleContent>
                                    <div class="d-flex">
                                        <MudIcon Icon="@Icons.Material.Filled.ContentCopy" class="mr-3"></MudIcon>
                                    </div>
                                </TitleContent>
                                <ChildContent>@context.Id</ChildContent>
                            </MudExpansionPanel>
                        </MudTd>
                        <MudTd DataLabel="Source text">@context.Source</MudTd>
                        <MudTd DataLabel="Target text">
                            <MudTextField @onblur="(async () => await UpdateTranslation(context))"
                            @bind-Value="@context.Target" Lines="5"></MudTextField>
                        </MudTd>
                        <MudTd>
                            <MudGrid>
                                <MudItem xs="12" md="2">
                                    <MudRadioGroup @bind-SelectedOption="@context.XliffState">
                                        <MudRadio Option="@Models.Enum.XliffState.NeedsTranslation"
                                        @onchange="(args)=>OnChange(args, context)" Color="Color.Primary"
                                        Disabled="String.IsNullOrEmpty(context.Target)">Needs Translation</MudRadio>
                                        <MudRadio Option="@Models.Enum.XliffState.AwayOnTranslation"
                                        @onchange="(args)=>OnChange(args, context)" Color="Color.Secondary"
                                        Disabled="String.IsNullOrEmpty(context.Target)">Away on translation</MudRadio>
                                        <MudRadio Option="@Models.Enum.XliffState.Translated"
                                        @onchange="(args)=>OnChange(args, context)"
                                        Disabled="String.IsNullOrEmpty(context.Target)">Translated</MudRadio>
                                    </MudRadioGroup>
                                </MudItem>
                            </MudGrid>
                        </MudTd>
                        <MudTd>
                            <MudIcon Icon="@Icons.Filled.Delete" @onclick="()=>Delete(context)"></MudIcon>
                        </MudTd>
                    </RowTemplate>
                    <NoRecordsContent>
                        <MudText>
                            No Results
                        </MudText>
                    </NoRecordsContent>
                    <LoadingContent>
                        <MudText>
                            Loading...
                        </MudText>
                    </LoadingContent>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="@_rowsPerPageOptions" />
                    </PagerContent>
                </MudTable>
            }
        </MudTabs>
    </MudItem>
</MudGrid>