@namespace TozawaNGO.Shared
@using ShareRazorClassLibrary.Helpers
@inherits BaseDialog
@implements IDisposable

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Logout" Class="mr-3 mb-n1" />
            <span>
                <SystemText TextId=SystemTextId.Logout FallbackText="long out" IsFirstLoaded="@IsFirstLoaded">
                </SystemText>
            </span>
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudText>
            <SystemText TextId=SystemTextId.YoureAboutToGetLogout FallbackText="You are about to ge log out"
                IsFirstLoaded="@IsFirstLoaded"></SystemText>
        </MudText>
        <MudText Typo="Typo.h3">@Counter</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" OnClick="Cancel">
            <SystemText TextId=SystemTextId.StayLogIn FallbackText="Stay login" IsFirstLoaded="@IsFirstLoaded">
            </SystemText>
        </MudButton>
        <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="Confirm">
            <SystemText TextId=SystemTextId.Logout FallbackText="long out" IsFirstLoaded="@IsFirstLoaded"></SystemText>
        </MudButton>
    </DialogActions>
</MudDialog>