@namespace TozawaNGO.Shared
@using ShareRazorClassLibrary.Helpers
@inherits BaseComponent<Footer>
@implements IDisposable

<style>
    .mud-input-helper-text {
        color: red;
    }
</style>

<ErrorHandling  TCategoryName=@typeof(Footer)>
    <ChildContent>
        <div class="mt-5"></div>
<footer style="margin-top: auto; background-color: #000; overflow: auto;" id="footer">
    <div class="footer">
        <div style="display: flex;">
            <div style="margin-right: -5px;">
                <MudIconButton Icon="@Icons.Material.Filled.LocationOn" Size="Size.Large" Style="@($"color:#FFA500;")">
                </MudIconButton>
            </div>
            <div style="margin-left: -5px; margin-top: 5px;">
                <SystemText Style="font-size: medium; color: white;" TextId=SystemTextId.Findus FallbackText="Find us"></SystemText>
                <br>
                <MudLink Style="font-size: small !important; color: #757575 !important;" Href="#">Tallrisvägen 15L, 702 34 Örebro
                </MudLink>
            </div>
        </div>
        <div style="display: flex;">
            <div style="margin-right: -5px;">
                <MudIconButton Icon="@Icons.Material.Filled.PhoneEnabled" Size="Size.Large"
                    Style="@($"color:#FFA500;")">
                </MudIconButton>
            </div>
            <div style="margin-left: -5px; margin-top: 5px;">
                <SystemText Style="font-size: medium; color: white;" TextId=SystemTextId.Callus FallbackText="Call us"
                    ></SystemText><br>
                <MudLink Style="font-size: small !important; color: #757575 !important;" Href="tel:+46701573032">0046-70 157 30 32
                </MudLink>
            </div>
        </div>
        <div style="display: flex;">
            <div style="margin-right: -5px;">
                <MudIconButton Icon="@Icons.Material.Filled.Email" Size="Size.Large" Style="@($"color:#FFA500;")">
                </MudIconButton>
            </div>
            <div style="margin-left: -5px; margin-top: 5px;">
                <SystemText Style="font-size: medium; color: white;" TextId=SystemTextId.Mailus FallbackText="Mail us"
                    ></SystemText><br>
                <MudLink Style="font-size: small !important; color: #757575 !important;" Href="mailto:josephluhandu@yahoo.com">
                    josephluhandu@yahoo.com</MudLink>
            </div>
        </div>
    </div>
    <MudDivider DividerType="DividerType.Middle" Class="my-2" />
    <div class="footerMiddle">
        <div style="flex: 1">
            <MudButton Style="margin-top: -20px;" Color="Color.Inherit">
                <img @onclick="@(()=>GoToHome())" src="/images/466883443_1108754894587123_6862223349978612083_n.png" asp-append-version="true" height="60px" width="150px" />
            </MudButton>
            <div style="max-height: 90px; height: 90px; overflow:auto;">
                <SystemText Style="font-size: small !important; color:#757575 !important;" TextId=SystemTextId.ShotNGODescription
                    FallbackText="This NGO is for helping children in need of developing computer skills
                This NGO is for helping children in need of developing computer skills
                This NGO is for helping children in need of developing computer skills" >
                </SystemText>
            </div>
            <div style="margin-top: 15px; width: auto">
                <SystemText Style="color: white; width: auto" TextId=SystemTextId.Followus FallbackText="Follow us"
                    ></SystemText><br>
            </div>
            <div style="display: flex; width: auto">
                <div>
                    <img class="smicon" src="/images/fcbk.png" width="25" height="25" asp-append-version="true" />
                </div>
                <div>
                    <img class="smicon" src="/images/insta.png" width="25" height="25" asp-append-version="true" />
                </div>
                <div>
                    <img class="smicon" src="/images/ytb.png" width="25" height="25" asp-append-version="true" />
                </div>
                <div>
                    <img class="smicon" src="/images/twitterX.png" width="25" height="25" asp-append-version="true" />
                </div>
            </div>
        </div>
        <div style="flex: 1">
            <MudText Style="color: white;"><span
                    style='text-decoration: underline #FFA500; text-underline-offset: 10px;'>@GetFirstTextDecoration(_translationService.Translate(SystemTextId.Usefulllinks,
                    "Usefull links").Text)</span><span>@GetLastTextDecoration(_translationService.Translate(SystemTextId.Usefulllinks,
                    "Usefull links").Text)</span></MudText>
              <div style="display: flex; margin-top: 25px;">
                <div style="max-width: 110px; width: 110px;">
                    <MudLink Style="font-size: small; color: #757575 !important;" Href="#">XXXXXX</MudLink><br>
                    <MudLink Style="font-size: small; color: #757575 !important;" Href="#">YYYYYY</MudLink><br>
                    <MudLink Style="font-size: small; color: #757575 !important;" Href="#">XXXXXX</MudLink><br>
                    <MudLink Style="font-size: small; color: #757575 !important;" Href="#">YYYYYY</MudLink>
                </div>
                <div>
                    <MudLink Style="font-size: small; color: #757575 !important;" Href="#">XXXXXX</MudLink><br>
                    <MudLink Style="font-size: small; color: #757575 !important;" Href="#">YYYYYY</MudLink><br>
                    <MudLink Style="font-size: small; color: #757575 !important;" Href="#">XXXXXX</MudLink><br>
                    <MudLink Style="font-size: small; color: #757575 !important;" Href="#">YYYYYY</MudLink>
                </div>
            </div>
        </div>
        <div style="flex: 1">
            <MudText Style="color: white;"><span
                    style='text-decoration: underline #FFA500; text-underline-offset: 10px;'>@GetFirstTextDecoration(_translationService.Translate(SystemTextId.Subscribe,
                    "Subscribe").Text)</span><span>@GetLastTextDecoration(_translationService.Translate(SystemTextId.Subscribe,
                    "Subscribe").Text)</span>
            </MudText>
            <div style="max-height: 50px; height: 50px; overflow:auto; margin-top: 25px;">
                <SystemText Style="font-size: small !important; color:#757575 !important;" TextId=SystemTextId.SubscribeText
                    FallbackText="Don't miss to subscribe to our feeds, kindly fill the form below"
                    ></SystemText><br>
            </div>
            <MudForm Style="margin-top: 40px;" Model="@model" @ref="@form" @bind-IsValid="@_success"
                @bind-Errors="@_errors">
                <MudTextField HelperText="@(_errors.Length != 0 ? _errors[0] : string.Empty)"
                    @onkeydown="@((KeyboardEventArgs e)=>SendEmailByKeyBoard(e))"
                    Style="background-color: white;" Immediate="true" Disabled="@DisabledSend()"
                    @bind-Value="model.Email" Label="@_email" Variant="Variant.Filled" InputType="@InputType.Text"
                    Adornment="Adornment.End" AdornmentIcon="@EmailInputIcon" OnAdornmentClick="SendEmailClick"
                    AdornmentAriaLabel="Send email" AdornmentColor="Color.Warning" />
            </MudForm>
        </div>
    </div>
    <div class="footer" style="background-color: #212121; padding: 15px; overflow:auto;">
        <div class="footerEnd">
            <MudText Style="font-size: small; color:#757575 !important;">Copyright@2024 All Right reserved</MudText>
            <MudLink Style="color:#FFA500 !important; font-size: small;" Href="#">SWE</MudLink>
        </div>
        <div class="footerEnd">
            <MudLink Style="font-size: small; color: #757575 !important;" Href="#">Home</MudLink>
            <MudLink Style="font-size: small; color: #757575 !important;" Href="#">Privacy</MudLink>
            <MudLink Style="font-size: small; color: #757575 !important;" Href="#">Policy</MudLink>
            <MudLink Style="font-size: small; color: #757575 !important;" Href="#">Contact</MudLink>
        </div>
    </div>
</footer>
    </ChildContent>
    <ErrorContent Context="ex">
        @string.Empty
    </ErrorContent>
</ErrorHandling>

