@namespace TozawaNGO
@using TozawaNGO.Shared
@implements IDisposable

<Fluxor.Blazor.Web.StoreInitializer />
@if (_firstLoaded)
{
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        <NotAuthorizePage />
                    </NotAuthorized>
                    <Authorizing>
                        <h1>Authorization in progress</h1>
                        <p>Only visible while authorization is in progress.</p>
                    </Authorizing>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <PageNotFound></PageNotFound>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
}

@if (_RequestInProgress)
{
    <div class="ta-loading loading loaderDiv" style="max-width: 100%;">
        <div class="row loaderDiv">
            <div class="col-md-12">
                <div class="d-flex align-center">
                    <MudProgressCircular Style="@($"color: {"#ff5e14"};")" Size="Size.Medium" Indeterminate="true" />
                    <h3>
                        <img src="/images/Tozawa-Text-Picture-No-Background-White.png" height="50px" width="150px"
                            alt="loading tozawa image" />
                    </h3>
                </div>
            </div>
        </div>
    </div>
}
