@page "/weather"
@using TozawaMauiHybrid.Helpers
@using TozawaMauiHybrid.Models.Dtos
@using TozawaMauiHybrid.Services
@inject WeatherForecastService ForecastService

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudTable Items="@forecasts" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading"
        LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>Date</MudTh>
            <MudTh>Temp. (C)</MudTh>
            <MudTh>Temp. (F)</MudTh>
            <MudTh>Summary</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Date">@context.Date.ToShortDateString()</MudTd>
            <MudTd DataLabel="Temp. (C)">@context.TemperatureC</MudTd>
            <MudTd DataLabel="Temp. (F)">@context.TemperatureF</MudTd>
            <MudTd DataLabel="Summary">@context.Summary</MudTd>
        </RowTemplate>
    </MudTable>
}

@code {
    [Inject]
    private PreferencesStoreClone Storage { get; set; }
    IEnumerable<WeatherDto> forecasts;
    private bool _loading;
    protected override async Task OnInitializedAsync()
    {
        var getResponse = await ForecastService.GetItems();
        forecasts = getResponse.Entity ?? [];
        await base.OnInitializedAsync();
    }
}
