@page "/logoutView"
@namespace TozawaNGO.Shared

<h1>you logged out</h1>

@* <MudCard>
	<MudForm Model="@model" @ref="@form" ValidationDelay="0">
	<MudCardContent>
	<MudTextField Validation="loginValidator.ValidateValue" @bind-Value="model.Email" For="@(() => model.Email)"
	Immediate="true" Label="Email" />

	<MudTextField Validation="loginValidator.ValidateValue" @bind-Value="model.Password" For="@(() => model.Password)"
	Immediate="true"
	Label="Password" InputType="InputType.Password" />
	</MudCardContent>
	</MudForm>
	<MudCardActions>
	<MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto"
	OnClick="@(async () => await Login())">Login</MudButton>
	</MudCardActions>
	</MudCard> *@