@page "/login"

@namespace TozAwaHome.Pages
@using HttpClients.Helpers
@inherits BasePage
@implements IDisposable


<h3>Login</h3>

    <ErrorBoundary>
            <ChildContent>
                <MudCard>
                    <MudForm Model="@model" @ref="@form" @bind-IsValid="@_success" @bind-bind-bind-Errors="@_errors"
                        ValidationDelay="0">
                        <MudCardContent>
                    <MudTextField Class="tz_admin tz_loginAsAdmin" Disabled="@_processing"
                                Validation="LoginValidator().ValidateValue" Required="true"
                                RequiredError="@Translate(SystemTextId.EmailIsRequired, "Email is required")"
                                @bind-Value="model.Email"
                                For="@(() => model.Email)" Immediate="true" Label=@(Translate(SystemTextId.Email,
                                "Email")) />
                          
                            <MudTextField Disabled="@_processing" Class="tz_password"
                                Validation="LoginValidator().ValidateValue" Required="true"
                                RequiredError="@Translate(SystemTextId.YourPasswordCannotBeEmpty, "Password is required")"
                                @bind-Value="model.Password"
                                For="@(() => model.Password)" Immediate="true" Label=@(Translate(SystemTextId.Password,
                                "Password")) InputType="InputType.Password" />
                        </MudCardContent>
                <div class="mt-2 text-end">
                    <NavLink class="nav-link" href="registration">
                        <span>Click here to create new account?</span>
                    </NavLink>
                </div>
                 <div class="text-center mt-2">
              <MudButton Disabled="@DisabledLoginButton()" OnClick="@(()=>Submit())"
            Color="Color.Primary" Variant="Variant.Filled" Class="ml-auto" Target="_top">
            @if (_processing)
            {
                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                <MudText Class="ms-2">
                    <SystemText TextId=SystemTextId.Processing FallbackText="Processing..."></SystemText>
                </MudText>
            }
            else
            {
                <MudText>
                    <SystemText TextId=SystemTextId.Login FallbackText="Login"></SystemText>
                </MudText>
            }
        </MudButton>
                 </div>
                    </MudForm>
                </MudCard>
            </ChildContent>
            <ErrorContent>
                Sorry, I can't show because of an internal error.
            </ErrorContent>
        </ErrorBoundary>