@using Tozawa.Client.Portal.Shared

@code {

    protected override Task OnInitializedAsync()
    {

        return base.OnInitializedAsync();

    }
}
<CascadingAuthenticationState>
    <ErrorHandling>
        <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
            <Found Context="routeData">
                <!-- <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" /> -->
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        <NotAuthorizePage />
                    </NotAuthorized>
                    <Authorizing>
                        <h1>Authorization in progress</h1>
                        <p>Only visible while authorization is in progress.</p>
                    </Authorizing>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <PageNotFound />
                </LayoutView>
            </NotFound>
        </Router>
    </ErrorHandling>
</CascadingAuthenticationState>