@namespace Tozawa.Client.Portal.Shared
@inject Tozawa.Client.Portal.Services.TokenProvider TokenProvider
@inject NavigationManager NavManager
@inherits BaseComponent

<footer class="tz-footer-section" id="tz-footer">
    <div>
        <div class="tz_footer d-flex flexColumn-main" style="margin-top: 3vh;">
            <div class="d-flex flexColumn tz-div-space">
                <div class="d-flex flexColumn tz-div-space-icontext">
                    <div>
                        <MudIcon Icon="@Icons.Material.Filled.LocationOn"
                            Style="@($"color: {"#ff5e14"}; margin-top: {"1vh"}")" Size="Size.Large"></MudIcon>
                    </div>
                    <div class="tz-max-div-text">
                        <MudText Class="tz-foot-text" Typo="Typo.h4"
                            Style="@($"color: {"#fff"}; font-size: {"20px"}; font-weight: {"600"}; margin-bottom: {"2px"};")">
                            Find us</MudText>
                        <MudText Class="tz-foot-text">1010 Avenue, sw 54321, Chandigarh</MudText>
                    </div>
                </div>
            </div>
            <div class="d-flex flexColumn tz-div-space">
                <div class="d-flex flexColumn tz-div-space-icontext">
                    <div>
                        <MudIcon Icon="@Icons.Material.Filled.PhoneEnabled"
                            Style="@($"color: {"#ff5e14"}; margin-top: {"1vh"}")" Size="Size.Large"></MudIcon>
                    </div>
                    <div class="tz-max-div-text">
                        <MudText Class="tz-foot-text" Typo="Typo.h4"
                            Style="@($"color: {"#fff"}; font-size: {"20px"}; font-weight: {"600"}; margin-bottom: {"2px"};")">
                            Call us</MudText>
                        <MudText Class="tz-foot-text">+46 70 15 730 32</MudText>
                    </div>
                </div>
            </div>
            <div class="d-flex flexColumn tz-div-space">
                <div class="d-flex flexColumn tz-div-space-icontext">
                    <div>
                        <MudIcon Icon="@Icons.Material.Filled.Email"
                            Style="@($"color: {"#ff5e14"}; margin-top: {"1vh"}")" Size="Size.Large"></MudIcon>
                    </div>
                    <div class="tz-max-div-text">
                        <MudText Class="tz-foot-text" Typo="Typo.h4"
                            Style="@($"color: {"#fff"}; font-size: {"20px"}; font-weight: {"600"}; margin-bottom: {"2px"};")">
                            Mail us</MudText>
                        <MudText Class="tz-foot-text">tozawa@gmail.com</MudText>
                    </div>
                </div>
            </div>
        </div>

        <MudDivider Style="@($"margin-top: 4vh")" DividerType="DividerType.Middle" />

        <div class="tz_footer d-flex flexColumn-main" style="margin-top: 3vh;">
            <div class="d-flex flexColumn tz-div-space">
                <div class="d-flex flexColumn tz-div-space-icontext">
                    <div>
                        <MudDivider Style="@($"background-color: {"#ff5e14"}; width: {"2px"}; margin-right: {"2vh"};")"
                            Vertical="true" />
                    </div>
                    <div class="tz-max-div-text">
                        <MudButton Link="/home" Color="Color.Inherit">
                            <img src="/images/finalelogo_vit_infylld.png" asp-append-version="true"
                                height="40px" width="200px" />
                        </MudButton>
                        <MudText Style="@($"margin-top: {"2.5vh"};")" Class="tz-foot-text">
                            Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor
                            incididuntut consec tetur adipisicing elit,Lorem ipsum dolor sit amet.
                        </MudText>
                        <MudText Class="tz-foot-text" Typo="Typo.h4"
                            Style="@($"color: {"#fff"}; font-size: {"20px"}; margin-top: {"2.5vh"}; font-weight: {"600"};")">
                            Follow us</MudText>
                        <div class="d-flex">
                            <div>
                                <MudIconButton Title="Facebook" Icon="@(Icons.Custom.Brands.Facebook)"
                                    @onclick="@(e => ToggleSocialIcon())" Size="Size.Medium"
                                    Style="@($"color: {"#3b5998"};")">
                                </MudIconButton>
                            </div>
                            <div>
                                <MudIconButton Title="Instagram" Icon="@(Icons.Custom.Brands.Instagram)"
                                    @onclick="@(e => ToggleSocialIcon())" Size="Size.Medium"
                                    Style="@($"color: {"#3f729b"};")">
                                </MudIconButton>
                            </div>
                            <div>
                                <MudIconButton Title="Youtube" Icon="@(Icons.Custom.Brands.YouTube)"
                                    @onclick="@(e => ToggleSocialIcon())" Size="Size.Medium"
                                    Style="@($"color: {"#c4302b"};")">
                                </MudIconButton>
                            </div>
                            <div>
                                <MudIconButton Title="Twiter" Icon="@(Icons.Custom.Brands.Twitter)"
                                    @onclick="@(e => ToggleSocialIcon())" Size="Size.Medium"
                                    Style="@($"color: {"#1da1f2"};")">
                                </MudIconButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flexColumn tz-div-space">
                <div class="d-flex flexColumn tz-div-space-icontext">
                    <div>
                        <MudDivider Style="@($"background-color: {"#ff5e14"}; width: {"2px"}; margin-right: {"2vh"};")"
                            Vertical="true" />
                    </div>
                    <div class="d-flex flex-column tz-max-div-text">
                        <div>
                            <MudText Class="tz-foot-text" Typo="Typo.h4"
                                Style="@($"color: {"#fff"}; font-size: {"20px"}; font-weight: {"600"};")">
                                Useful Links</MudText>
                            <MudDivider Style="@($"background-color: {"#ff5e14"}; width: {"25%"}")" Class="my-6" />
                        </div>
                        <div style="margin-top: 1vh;" class="d-flex">
                            <div class="d-flex flex-column">
                                <div>
                                    <MudButton Class="tz-foot-links" Link="#">Home</MudButton>
                                </div>
                                <div style="margin-top: 1vh;">
                                    <MudButton Class="tz-foot-links" Link="#">Our Services</MudButton>
                                </div>
                                <div style="margin-top: 1vh;">
                                    <MudButton Class="tz-foot-links" Link="#">Contact Us</MudButton>
                                </div>
                            </div>
                            <div class="d-flex flex-column" style="margin-left: 1vh;">
                                <div>
                                    <MudButton Class="tz-foot-links" Link="#">About Us</MudButton>
                                </div>
                                <div style="margin-top: 1vh;">
                                    <MudButton Class="tz-foot-links" Link="#">Our Team</MudButton>
                                </div>
                                <div style="margin-top: 1vh;">
                                    <MudButton Class="tz-foot-links" Link="#">Latest News</MudButton>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flexColumn tz-div-space">
                <div class="d-flex flexColumn tz-div-space-icontext">
                    <div>
                        <MudDivider Style="@($"background-color: {"#ff5e14"}; width: {"2px"}; margin-right: {"2vh"};")"
                            Vertical="true" />
                    </div>
                    <div class="tz-max-div-text">
                        <MudText Class="tz-foot-text" Typo="Typo.h4"
                            Style="@($"color: {"#fff"}; font-size: {"20px"}; font-weight: {"600"};")">
                            Subscribe</MudText>
                        <MudDivider Style="@($"background-color: {"#ff5e14"}; width: {"25%"};")" Class="my-6" />
                        <MudText Class="tz-foot-text">
                            Don't miss to subscribe to our new feeds, kindly fill the form below.
                        </MudText>
                        <div class="d-flex" style="margin-top: 1vh;">
                            <div>
                                    <MudTextField T="string" Class="tz-email-foot" Label="Email Adress" Margin="Margin.Dense"
                                    Variant="Variant.Outlined" AdornmentColor="Color.Warning" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Send" 
                                    OnAdornmentClick="ButtonEmailclick" AdornmentAriaLabel="Send email" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tz_footer d-flex flexColumn-main" style="background: #202020; padding: 25px;">
            <div class="d-flex flexColumn tz-div-space">
                <div class="d-flex flexColumn tz-div-space-icontext">
                    <div style="margin-right: 5vh">
                       <MudText>Copyright © 2018, All Right Reserved<MudButton Style="@($"color: {"#ff5e14"};")" Link="#">Anup</MudButton></MudText>
                    </div>
                   <div style="margin-left: 5vh" class="d-flex">
                        <div>
                            <MudButton Class="tz-foot-links" Link="#">Home</MudButton>
                        </div>
                        <div style="margin-left: 1vh;">
                            <MudButton Class="tz-foot-links" Link="#">Terms</MudButton>
                        </div>
                        <div style="margin-left: 1vh;">
                            <MudButton Class="tz-foot-links" Link="#">Policy</MudButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
