@namespace TozawaNGO.Pages
@using ShareRazorClassLibrary.Helpers
@using TozawaNGO.Shared
@inherits BaseDialog

<style>
    .mud-tooltip-root {
        margin-right: 5px;
    }
</style>

<MudDialog Class="@MudDialog.Id.ToString()">
    <TitleContent>
        <MudText Typo="Typo.h6">
            @if (item.Deleted)
            {
                @if (hardDelete)
                {
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-3 mb-n1" />
                }
                else
                {
                    <MudIcon Icon="@Icons.Material.Filled.RestoreFromTrash" Class="mr-3 mb-n1" />
                }
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-3 mb-n1" />
            }
            <span>@title</span>
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudText>@body</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" OnClick="Cancel">
            <SystemText TextId=SystemTextId.Cancel FallbackText="Cancel" IsFirstLoaded="@IsFirstLoaded" />
        </MudButton>
        @if (item.Deleted)
        {
            @if (hardDelete)
            {
                <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="@(e => Confirm(false, true))">
                    <SystemText TextId=SystemTextId.Delete FallbackText="Delete" IsFirstLoaded="@IsFirstLoaded" />
                    <SystemText TextId=SystemTextId.Definitively FallbackText="definitively" IsFirstLoaded="@IsFirstLoaded" />
                </MudButton>
            }
            else
            {
                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@(e => Confirm(false, false))">
                    <SystemText TextId=SystemTextId.Restore FallbackText="Restore" IsFirstLoaded="@IsFirstLoaded" />
                </MudButton>
            }
        }
        else
        {
            @if (hardDelete)
            {
                <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="@(e => Confirm(false, true))">
                    <SystemText TextId=SystemTextId.Delete FallbackText="Delete" IsFirstLoaded="@IsFirstLoaded"/>
                </MudButton>
            }
            else
            {
                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@(e => Confirm(true, false))">
                    <SystemText TextId=SystemTextId.Delete FallbackText="Delete" IsFirstLoaded="@IsFirstLoaded"/>
                    <SystemText TextId=SystemTextId.Temporarily FallbackText="temporarily" IsFirstLoaded="@IsFirstLoaded"/>
                </MudButton>

                <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="@(e => Confirm(false, true))">
                    <SystemText TextId=SystemTextId.Delete FallbackText="Delete" IsFirstLoaded="@IsFirstLoaded"/>
                    <SystemText TextId=SystemTextId.Definitively FallbackText="definitively" IsFirstLoaded="@IsFirstLoaded"/>
                </MudButton>
            }
        }
    </DialogActions>
</MudDialog>