@namespace TozawaNGO.Pages
@using ShareRazorClassLibrary.Helpers
@using TozawaNGO.Shared
@inherits BaseDialog<DeleteEntityDialog>

<style>
    .mud-tooltip-root {
        margin-right: 5px;
    }

    .tz-mud-overlay {
        background: repeating-linear-gradient(135deg, #ccc, #ccc 10px, #aaa 10px, #aaa 20px) !important;
        opacity: 0.7 !important;
    }
</style>

<MudDialog Class=@($"tzModal {MudDialog.Id.ToString()}")>
    <TitleContent>
        <MudText Color=Color.Secondary Typo="Typo.h6">
            @if (item.Deleted)
            {
                @if (hardDelete)
                {
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-3 mb-n1" />
                }
                else
                {
                    <MudIcon Icon="@Icons.Material.Filled.AccessTimeFilled" Class="mr-3 mb-n1" />
                }
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-3 mb-n1" />
            }
            <span>@title</span>
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudText>@body</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton StartIcon="@Icons.Material.Filled.Close" Variant="Variant.Filled" OnClick="Cancel">
            <SystemText TextId=SystemTextId.Cancel FallbackText="Cancel" />
        </MudButton>
        @if (item.Deleted)
        {
            @if (hardDelete)
            {
                <MudButton StartIcon=@Icons.Material.Filled.Delete Color="Color.Error" Variant="Variant.Filled"
                    OnClick="@(e => Confirm(false, true))">
                    <SystemText TextId=SystemTextId.Delete FallbackText="Delete" />
                    <SystemText TextId=SystemTextId.Definitively FallbackText="definitively" />
                </MudButton>
            }
            else
            {
                <MudButton StartIcon=@Icons.Material.Filled.AccessTimeFilled Color="Color.Primary" Variant="Variant.Filled"
                    OnClick="@(e => Confirm(false, false))">
                    <SystemText TextId=SystemTextId.Restore FallbackText="Restore" />
                </MudButton>
            }
        }
        else
        {
            @if (hardDelete)
            {
                <MudButton StartIcon=@Icons.Material.Filled.Delete Color="Color.Error" Variant="Variant.Filled"
                    OnClick="@(e => Confirm(false, true))">
                    <SystemText TextId=SystemTextId.Delete FallbackText="Delete" />
                </MudButton>
            }
            else
            {
                <MudButton StartIcon=@Icons.Material.Filled.AccessTimeFilled Color="Color.Primary" Variant="Variant.Filled"
                    OnClick="@(e => Confirm(true, false))">
                    <SystemText TextId=SystemTextId.Delete FallbackText="Delete" />
                    <SystemText TextId=SystemTextId.Temporarily FallbackText="temporarily" />
                </MudButton>

                <MudButton StartIcon=@Icons.Material.Filled.Delete Color="Color.Error" Variant="Variant.Filled"
                    OnClick="@(e => Confirm(false, true))">
                    <SystemText TextId=SystemTextId.Delete FallbackText="Delete" />
                    <SystemText TextId=SystemTextId.Definitively FallbackText="definitively" />
                </MudButton>
            }
        }
    </DialogActions>
</MudDialog>